{% extends 'base.html' %}

{% block title %}
Login! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<div class="wrapper">
<header>
    <nav class="nav">
        <a class="a" href="{% url 'recipe_list' %}">Main page</a>
        <a class="a" href="{% url 'signup' %}">Sign Up!</a>
    </nav>
</header>
<main class="main">
    <h1>Login!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</main>
</div>
{% endblock content %}
